/.idea/EclipsingBinaryClassification.iml
/.idea/workspace.xml
/_Models/EAEBEW_vgg19_2_20241124-205315.keras
/_Models/EAEBEW_Vgg19_20241124-141303.keras
/_Models/EAEBEW_Vgg19_Berk_20241124-132152.keras
